.new-expense {
    background-color: #1f2636;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    color:#d3d3d3;
  }
  
  .new-expense button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #aaaaaa;
    background-color: #1f2636;
    color:#d3d3d3;
    border-radius: 12px;
    margin-right: 1rem;
    margin-top: 20px;
  }
  
  .new-expense button:hover,
  .new-expense button:active {
    background-color: #1e232d;
    border-color: #aaaaaa;
  }
  
  .new-expense button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .new-expense button.alternative:hover,
  .new-expense button.alternative:active {
    background-color: #ae95f1;
  }

  .total-expense-title {
    color:#d3d3d3;
    font-size: 18px;
  }

  .total-expense-title-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }